workspace "browser"
workspace "emacs"
workspace "misc0"
workspace "misc1"
workspace "keepass"

input {
    keyboard {
        xkb {
            layout "es"
        }
        numlock
    }
    focus-follows-mouse max-scroll-amount="0%"
}

gestures {
    hot-corners {
        off
    }
}

output "DP-1" {
    mode "2560x1440@143.912"
    scale 1
    transform "normal"
    position x=0 y=0
}

layout {
    gaps 16
    center-focused-column "never" // always, on-overflow

    preset-column-widths {
        proportion 0.5
        proportion 0.333333
        proportion 0.666667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 2

        active-gradient from="#D65D0E" to="#D79921" angle=135
        inactive-color "#505050"
    }

    border {
        off
    }
}

cursor {
    xcursor-theme "breeze-cursor-light"
    xcursor-size 24
}

spawn-sh-at-startup "swaybg --mode fill -i @wallpaper@"

prefer-no-csd

screenshot-path "~/doc/img/screenshot_%Y-%m-%d_%H-%M-%S.png"

animations {
    slowdown 0.75
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    open-maximized false
}

window-rule {
    match app-id="librewolf"
    match app-id="Emacs"
    match app-id="KeePassXC"
    match app-id="org.freecad.FreeCAD"
    match app-id="OrcaSlicer"
    open-maximized-to-edges true
}

binds {
    Mod+Return hotkey-overlay-title="Open a Terminal: alacritty" { spawn "alacritty"; }
    Mod+B hotkey-overlay-title="Open web browser" { spawn "librewolf"; }
    Mod+M hotkey-overlay-title="Open mail" { spawn-sh "alacritty -e aerc"; }
    Mod+D hotkey-overlay-title="Open drun" { spawn-sh "fuzzel --show drun"; }
    Mod+E hotkey-overlay-title="Open Emacs" { spawn-sh "emacs -c"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Tab repeat=false { toggle-overview; }

    Mod+Shift+Q repeat=false { close-window; }

    Mod+Right   { focus-column-right; }
    Mod+Left    { focus-column-left; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+Comma        { focus-workspace "browser"; }
    Mod+Shift+Comma  { move-column-to-workspace "browser"; }
    Mod+Period       { focus-workspace "emacs"; }
    Mod+Shift+Period { move-column-to-workspace "emacs"; }
    Mod+NTilde       { focus-workspace "misc0"; }
    Mod+Shift+NTilde { move-column-to-workspace "misc0"; }
    Mod+P            { focus-workspace "misc1"; }
    Mod+Shift+P      { move-column-to-workspace "misc1"; }
    Mod+Y            { focus-workspace "keepass"; }
    Mod+Shift+Y      { move-column-to-workspace "keepass"; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-window-to-edges; }

    Mod+Shift+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+S { screenshot; }
    Mod+Shift+S { screenshot; }
}
